# PHP Storm by JetBrains
.idea/

# Visual Studio Code
.vscode/

# NetBeans
nbproject/

# Composer packagist
composer.lock
vendor/

# PhpUnit framework
phpunit.xml
.phpunit
.phpunit.result.cache

# NPM package
packages.json
package.tar
node_modules/

# Server environment
.env
.env.backup

# Public htdocs directory
web/hot/
web/storage/

# Storage private keys
var/logs/apache-httpd/*.log
