# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\local-host\syncore-root\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
